@{
    ViewBag.Title = "Edit";
}

<div class="col-md-6" ng-app="app" ng-controller="EditCtlr">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Format Editing</h3>
        </div>
        <form class="form-horizontal" name="roleForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="txtName" class="col-sm-3 control-label">Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtName" placeholder="Name" ng-model="Name">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                @Html.ActionLink("Cancel", "Index", new { controller = "ClassFormats" }, new { @class = "btn btn-default" })
                <input type="button" class="btn btn-info pull-right" value="{{btnUpdateText}}" ng-click="updateData()" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/SuperAdmin/Scripts/Controllers/ClassFormats.js")
}