@{
    ViewBag.Title = "Create";
}

<div class="col-md-6" ng-controller="AddCtlr">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Institute Creation</h3>
        </div>
        <form class="form-horizontal" name="form" novalidate>
            <div class="box-body">
                <div class="form-group">
                    <label for="txtName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-7">
                        <input type="text" name="Name" ng-required="true" class="form-control" id="txtName" placeholder="Name" ng-model="Name">
                    </div>
                    <div class="col-sm-3" ng-show="form.Name.$dirty && form.Name.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Name</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtShortName" class="col-sm-2 control-label">Short Name</label>

                    <div class="col-sm-7">
                        <input type="text" name="ShortName" ng-required="true" class="form-control" id="txtShortName" placeholder="ShortName" ng-model="ShortName">
                    </div>
                    <div class="col-sm-3" ng-show="form.ShortName.$dirty && form.ShortName.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Short Name</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtAddress" class="col-sm-2 control-label">Address</label>

                    <div class="col-sm-7">
                        <textarea type="text" name="ControllerName" ng-required="true" class="form-control" id="txtAddress" placeholder="Address" ng-model="Address"></textarea>
                    </div>
                    <div class="col-sm-3" ng-show="form.Address.$dirty && form.Address.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Address</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fileLogo" class="col-sm-2 control-label">Logo</label>

                    <div class="col-sm-7">
                        @*<textarea type="text" name="ControllerName" ng-required="true" class="form-control" id="fileLogo" placeholder="Address" ng-model="Address"></textarea>*@
                        <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" ng-required="true" />
                    </div>
                    <div class="col-sm-3" ng-show="form.file.$dirty && form.file.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Address</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-7">
                        <input type="email" name="Email" ng-required="true" class="form-control" id="txtEmail" placeholder="Email" ng-model="Email">
                    </div>
                    <div class="col-sm-3" ng-show="form.Email.$dirty && form.Email.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Email</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPhone" class="col-sm-2 control-label">Phone</label>

                    <div class="col-sm-7">
                        <input type="text" name="Phone" ng-required="true" class="form-control" id="txtPhone" placeholder="Phone" ng-model="Phone">
                    </div>
                    <div class="col-sm-3" ng-show="form.Phone.$dirty && form.Phone.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Phone</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtMobile" class="col-sm-2 control-label">Mobile</label>

                    <div class="col-sm-7">
                        <input type="text" name="Mobile" ng-required="true" class="form-control" id="txtMobile" placeholder="Mobile" ng-model="Mobile">
                    </div>
                    <div class="col-sm-3" ng-show="form.Mobile.$dirty && form.Mobile.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Mobile</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContact" class="col-sm-2 control-label">Contact Person</label>

                    <div class="col-sm-7">
                        <input type="text" name="Contact" ng-required="true" class="form-control" id="txtContact" placeholder="Contact" ng-model="Contact">
                    </div>
                    <div class="col-sm-3" ng-show="form.Contact.$dirty && form.Contact.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Contact Person</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="chkIsActive" class="col-sm-2 control-label">IsActive</label>

                    <div class="col-sm-7">
                        <label style="margin-right:15px; padding-top:5px;">
                            <input class="icheckbox_square-red" id="chkIsActive" type="checkbox" name="IsActive" ng-model="IsActive" />
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtJoinDate" class="col-sm-2 control-label">Join Date</label>

                    <div class="col-sm-7">
                        <input type="text" id="txtJoinDate" datepicker ng-model="JoinDate" class="form-control" />
                        {{JoinDate}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtExpireDate" class="col-sm-2 control-label">Expire Date</label>

                    <div class="col-sm-7">
                        <input type="text" id="txtExpireDate" datepicker ng-model="ExpireDate" class="form-control" />
                        {{ExpireDate}}
                    </div>
                </div>
                
            </div>
            <div class="box-footer">
                @Html.ActionLink("Cancel", "Index", new { controller = "Institutes" }, new { @class= "btn btn-default" })
                <input type="button" class="btn btn-info pull-right" value="Save" ng-click="addData()" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/SuperAdmin/Scripts/Controllers/Institutes.js")
}