@{
    ViewBag.Title = "Create";
}

<div class="col-md-6" ng-controller="AddCtlr">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Shift Creation</h3>
        </div>
        <form class="form-horizontal" name="shiftForm" novalidate>
            <div class="box-body">
                <div class="form-group">
                    <label for="txtName" class="col-sm-2 control-label">Shift Name</label>

                    <div class="col-sm-7">
                        <input type="text" name="ShiftName" ng-required="true" class="form-control" id="txtName" placeholder="Shift Name" ng-model="ShiftName">
                    </div>
                    <div class="col-sm-3" ng-show="shiftForm.ShiftName.$touched && shiftForm.ShiftName.$invalid">
                        <small style="color:red; display:block; text-align:center;">Enter Shift Name</small>
                    </div>
                </div>
                
            </div>
            <div class="box-footer">
                @Html.ActionLink("Cancel", "Index", new { controller = "Shifts" }, new { @class= "btn btn-default" })
                <input type="button" class="btn btn-info pull-right" value="Save" ng-click="addData()" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/SuperAdmin/Scripts/Controllers/Shifts.js")
}