<div class="col-xs-12" ng-controller="ListCtlr">
    <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length"><h3 class="box-title">Menu List</h3></div>
                    <div class="dataTables_length"><h3 class="box-title">{{message}}</h3></div>
                </div>
                <div class="col-sm-6 dataTables_length" style="text-align: right;">
                    <div class="dataTables_length">@Html.ActionLink("New Menu", "Create", new { controller = "Menus" }, new { @class = "btn btn-success" })</div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                @Html.Partial("_TableSearchingPartial")
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover dataTable ">
                            <thead>
                                <tr>
                                    <th><a href="" ng-click="sort('Name')">Name</a></th>
                                    <th><a href="" ng-click="sort('Area')">Area</a></th>
                                    <th><a href="" ng-click="sort('ControllerName')">Controller</a></th>
                                    <th><a href="" ng-click="sort('ActionName')">Action</a></th>
                                    <th><a href="" ng-click="sort('IsActive')">IsActive</a></th>
                                    <th><a href="" ng-click="sort('Order')">Order</a></th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="menu in menus">
                                    <td>{{menu.Name}}</td>
                                    <td>{{menu.Area}}</td>
                                    <td>{{menu.ControllerName}}</td>
                                    <td>{{menu.ActionName}}</td>
                                    <td>
                                        <label style="margin-right:15px; padding-top:5px;">
                                            <input class="icheckbox_square-red" type="checkbox" name="IsActive" ng-model="menu.IsActive" disabled />
                                        </label>
                                    </td>
                                    <td>{{menu.Order}}</td>
                                    <td>
                                        <input type="button" class="btn btn-info" value="{{btnEditText}}" ng-click="redirect(menu.Id)" />
                                        <input type="button" class="btn btn-danger" value="{{btnDeleteText}}" ng-click="removeData(menu.Id)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                @Html.Partial("_PagingPartial")
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Areas/SuperAdmin/Scripts/Controllers/Menus.js"></script>
}