@{
    ViewBag.Title = "Create";
}

<div class="col-md-6" ng-controller="AddCtlr">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Medium Creation</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="txtName" class="col-sm-2 control-label">Medium Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtName" placeholder="Medium Name" ng-model="MediumName">
                    </div>
                </div> 
            </div>
            <div class="box-footer">
                @Html.ActionLink("Cancel", "Index", new { controller = "Mediums" }, new { @class= "btn btn-default" })
                <input type="button" class="btn btn-info pull-right" value="Save" ng-click="addData()" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/Dashboard/Scripts/Controllers/Mediums.js")
}