@{
    ViewBag.Title = "Create Role";
}

<div class="col-md-6" ng-app="AccountModule" ng-controller="RoleAddCtlr">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Role Creation</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="txtName" class="col-sm-2 control-label">Role Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtName" placeholder="Role Name" ng-model="Name">
                    </div>
                </div>
                
            </div>
            <div class="box-footer">
                @Html.ActionLink("Cancel", "Roles", new { controller = "Account" }, new { @class= "btn btn-default" })
                <input type="button" class="btn btn-info pull-right" value="Save" ng-click="addData()" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/SuperAdmin/Scripts/Controllers/Accounts.js")
}