@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
@if (Request.IsAuthenticated)
{
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/images/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">@User.Identity.GetUserName()</span>
        </a>
    </li>
    <li class="dropdown user-menu">
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    </li>
}
else
{
    <li class="dropdown user-menu">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </li>
}
</ul>


